#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

users:
  - default
  - name: aluno
    gecos: DevOps lab
    groups:
      - adm
      - sudo
    shell: /bin/bash
    sudo:
      - ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ssh_key}

ssh_pwauth: false
disable_root: true